@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-2 md:px-6 py-2 border border-[#242424] rounded-full uppercase text-xs md:text-base 
        tracking-widest text-gray-400 transition-all hover:border-[#E5383B]/80 
         hover:text-[#E5383B]/80 hover:font-bold
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-2 border 
        border-[#242424] text-gray-500 placeholder-gray-500 transition-all
        focus:text-[#E5383B]/80 hover:border-[#E5383B]/40
    }

    .sectionTitle {
        @apply absolute top-12 uppercase font-semibold tracking-[10px] text-white text-2xl border-b border-primary-red pl-2 pb-1
    }
    .sectionSubtitle {
        @apply absolute mx-2 top-24  text-gray-500 text-sm
    }
    
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}